<h1 class="text-center">Contact</h1>
<div class="card flex justify-content-center">
    <form (ngSubmit)="envoieMsg()">
        Email:
        <br>
            <input type="email" name="email" 
            pInputText size="30" required [(ngModel)]="message.email" />
        <br>
        Message (300 caractères):
        <br>
            <textarea rows="6"cols="50" name="contenu" maxlength="300"
            pInputTextarea [autoResize]="true" required [(ngModel)]="message.contenu" >
            </textarea>
        <br>
        <p-button type="submit">Valider</p-button>
    </form>
</div>
<div *ngIf="showMessage" class="card flex justify-content-center" style="color: green;" >Demande de contact envoyée avec succès</div>